.App {
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-box, .form{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.login-button{
  padding: 8px;
  margin-top: 20px;
  width: 100px;
  border-radius: 5px;
}

.input-box{
  width: 150px;
  padding: 10px;
}

label{
  margin-bottom: 20px;
}

.messages{
  font-size: 12px;
  text-align: left;
 
  padding: 5px;
  margin: 5px;
}

.messages:nth-child(even){
  background-color: rgba(255, 253, 247, 0.2) ;
}

.uName{
  display: block;
  color: rgb(255, 196, 0);
  font-weight: bold;
}

.send-button {
  margin-bottom: 10px;
  width: 20%;
  height: 36px;
}

.chatbox{
  width: 500px;
  margin: 60px 0;
  padding: 20px;
  background-color: rgb(6, 118, 138);
  border-radius: 10px;
}

.chat-form{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items:stretch;
}

.chat-input{
  width: 78%;
  height: 30px;
}

.textMessages{
  color: rgb(255, 255, 255);
}
